<h2>All Historical Landmarks</h2>

<!-- add content here -->
<label>Landmarks:</label>
<br>
<% @landmarks.each do |landmark| %>
    <p> Name: <a href='/landmarks/<%= landmark.id %>'> <%= landmark.name %> </a></p>
    <p> Year finished: <%= landmark.year_completed %> </p>
    <br>
<% end %>


<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
